---
import { Code } from "astro:components";
import Section from "../../../../Section.astro";

import * as FetchMd from "./Fetch.md";
---

<Section>
    <h3
        slot="title"
        id="users-fetch"
    >
        Data Fetching
    </h3>
    <p>
        Since the code is extremely similar to fetching the authors, the full
        code is shown below. Instead of querying authors we are querying users
        instead.
    </p>
    <div class="inline">
        <FetchMd.Content />
    </div>
</Section>
