---
import { Code } from "astro:components";
import Section from "../../../../Section.astro";

import * as ActionMd from "./Actions.md";
---

<Section>
    <h3
        slot="title"
        id="books-actions"
    >
        Form Actions
    </h3>
    <p>
        To link the book to the author we can either specify the authorId attribute in the data object or we can use the connect property such as below:
    </p>
    <div class="inline">
        <Code code={`prisma.book.create({
    data: {
        name: data.get("name"),
        author: {
            connect: {
                id: data.get("author")
            }
        }
    }
});`} lang="ts" />
    </div>
        <p>
            The final action will look like this:
        </p>
        <div class="inline">
            <ActionMd.Content />
        </div>
</Section>
