---
import Centering from "./Centering.astro";
---

<h2 id="basic">Basic</h2>
<div>
    <hr />
    <p>
        Some base concepts that will likely be used in any project. From
        centering a div to nesting rules
    </p>
    <Centering {...Astro.props} />
</div>
