---
import Direction from "./Direction.astro";
import Positioning from "./Positioning.astro";
import Responsiveness from "./Responsiveness.astro";
import Wrap from "./Wrap.astro";
---

<h2 id="flex">Flexbox</h2>
<div>
    <hr />
    <p>
        Flexbox is a very powerful tool that can position elements in quickly
        with full responsiveness to page resizing
    </p>
    <Direction />
    <Positioning />
    <Responsiveness />
    <Wrap />
</div>
