---
import Layout from "../../../layouts/TitleLayout.astro";
---

<Layout title="Svelte Tutorial">
    <div
        slot="title"
        class="svelte"
    >
        <h1>Svelte</h1>
    </div>
    <p slot="description">
        Svelte is split up into two categories: Svelte itself and SvelteKit.
        Svelte is a Javascript frontend framework for building responsive and
        interactive webpages. SvelteKit is the meta-framework design for Svelte,
        and provides support for routing, server side rendering, hydration and
        server side components. It can be used for static site generation, or as
        a web server. An overview, tutorial and documentation can be found at <a
            href="https://svelte.dev/">svelte.dev</a
        >.
    </p>
    <a href="/WebRef/frameworks/svelte/svelte">
        <div class="card">
            <h2 class="svelte">Svelte</h2>
            <p>The Frontend UI framework</p>
        </div>
    </a>
    <a href="/WebRef/frameworks/svelte/kit">
        <div class="card">
            <h2 class="kit">SvelteKit</h2>
            <p>The meta-framework for creating complex svelte apps</p>
        </div>
    </a>
    <a href="/WebRef/frameworks/svelte/tutorial">
        <div class="card">
            <h2 class="tutorial">Tutorial</h2>
            <p>A tutorial for a Library application</p>
        </div>
    </a>
</Layout>

<style lang="scss">
    h1 {
        background: linear-gradient(90deg, #f96743, white);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 3rem;
    }

    .svelte {
        background-image: url("/WebRef/Svelte_Logo.svg");
        background-repeat: no-repeat;
        background-position: 0 50%;
        padding-left: 1.3em;

        &:has(h1) {
            padding-left: 4em;
        }
    }
    div.svelte {
        background-position: 0rem 50%;
    }
</style>
