---
import Layout from "../../../layouts/CatLayout.astro";

import KitSec from "../../../components/frameworks/svelte/kit/Kit.astro";

import { kit } from "../../../sections";
---

<Layout
    title="Svelte"
    sections={kit}
>
    <div
        slot="cats"
        class="contents"
    >
        <a
            class="svelte"
            href="svelte"
            >Svelte</a
        >
        <a
            class="kit"
            href="kit"
            >SvelteKit</a
        >
    </div>
    <main>
        <KitSec />
    </main>
</Layout>

<style lang="scss">
    main {
        padding: 1em;
        width: 100%;
        max-width: 100%;
        color: white;
        font-size: 20px;
        line-height: 1.6;
        overflow-y: auto;
        height: auto;
        max-height: 100vh;

        @media screen and (max-width: 768px) {
            padding: 0.5em;
        }
        .contents {
            display: contents;
        }
    }
</style>

<style is:global lang="scss">
    .kit {
        color: transparent !important;
        background: linear-gradient(90deg, #f96743, white);
        background-clip: text;
        -webkit-background-clip: text;
    }
</style>
