---
import Layout from "../../../layouts/CatLayout.astro";
import SvelteSec from "../../../components/frameworks/svelte/svelte/Svelte.astro";

import { svelte } from "../../../sections";
---

<Layout
    title="Svelte"
    sections={svelte}
>
    <div slot="cats">
        <a
            class="svelte"
            href="svelte"
            >Svelte</a
        >
        <a
            class="kit"
            href="kit"
            >SvelteKit</a
        >
    </div>
    <main>
        <SvelteSec />
    </main>
</Layout>

<style lang="scss">
    main {
        padding: 1em;
        width: 100%;
        max-width: 100%;
        color: white;
        font-size: 20px;
        line-height: 1.6;
        overflow-y: auto;
        height: auto;
        max-height: 100vh;

        @media screen and (max-width: 768px) {
            padding: 0.5em;
        }
    }
</style>

<style is:global lang="scss">
    .svelte {
        color: transparent !important;
        background: linear-gradient(90deg, #f96743, white);
        background-clip: text;
        -webkit-background-clip: text;
    }
</style>
