---
import Layout from "../../../layouts/CatLayout.astro";
import TutorialSec from "../../../components/frameworks/svelte/tutorial/Tutorial.astro";

import { svelte } from "../../../sections";
---

<Layout
    title="SvelteKit Tutorial"
    sections={svelte.tutorial}
>
    <main>
        <TutorialSec />
    </main>
</Layout>

<style lang="scss">
    main {
        padding: 1em;
        width: 100%;
        max-width: 100%;
        color: white;
        font-size: 20px;
        line-height: 1.6;
        overflow-y: auto;
        height: auto;
        max-height: 100vh;

        @media screen and (max-width: 768px) {
            padding: 0.5em;
        }
    }

    .contents {
        display: contents;
    }
</style>

<style is:global lang="scss">
    .tutorial {
        color: transparent !important;
        background: linear-gradient(90deg, #f96743, white);
        background-clip: text;
        -webkit-background-clip: text;
    }
</style>
