---
import { Code } from "astro:components";
import Section from "../../../../../Section.astro";

import * as FullWrapper from "./pageMd/FullWrapper.md";

import * as Modal from "./pageMd/Modal.md";

import * as LoanListMd from "./pageMd/LoanList.md";
---

<Section>
    <h4
        slot="title"
        id="loans-page-html"
    >
        HTML
    </h4>
    <Section>
        <h5
            slot="title"
            id="loans-page-html-notifications"
        >
            Notifications
        </h5>
        <p>
            The Notifications are an identical format to the ones we in the
            previous pages
        </p>
        <p>Creation Notifications</p>
        <div class="inline">
            <Code
                code={`{#key form}
	{#if form}
		{#if form.success}
			<p class="notif success">Loan Successfully Created</p>
		{:else if form.success === false}
			<p class="notif error">Error Creating Loan</p>
		{/if}
	{/if}
{/key}`}
                lang="svelte"
            />
        </div>
    </Section>
    <Section>
        <h5
            slot="title"
            id="loans-page-html-list"
        >
            Loans List
        </h5>
        <p>
            Since we are creating two different lists in this page, that have
            identical layout, we will be separating the list into a new
            component called <Code
                code="LoanList"
                inline
            />.
            <br />This new component will be located at <Code
                code="src/lib/components/LoanList.svelte"
                inline
            />.<br />Since the code is so similar to the previous lists, the
            code is only explained with inline comments.
        </p>
        <div class="inline">
            <LoanListMd.Content />
        </div>
        <p>
            We have two wrapper elements which hold the list of loans. The first
            is passed the late loans, and the second is passed the loans that
            are not late.
        </p>
        <div class="inline">
            <FullWrapper.Content />
        </div>
    </Section>
    <Section>
        <h5
            slot="title"
            id="loans-page-html-new"
        >
            New
        </h5>
        <p>
            We need to add a button with the class <Code
                code="new"
                inline
            /> that will set <Code
                code="showNewLoan"
                inline
            /> to <Code
                code="true"
                inline
                lang="ts"
            /> when clicked, which will open the dialog.
        </p>
        <div class="inline">
            <Code
                code={`<button class="new" on:click={() => (showNewLoan = true)}> + </button>`}
                lang="svelte"
            />
        </div>
        <p>
            Again we will use the <Code
                code="Modal"
                inline
            /> component to create the modal. We will bind the <Code
                code="show"
                inline
            /> prop to <Code
                code="showNewUser"
                inline
            />.
        </p>
        <p>
            We will add a form that uses <Code
                code="enhance"
                inline
            /> and will <Code
                code="POST"
                inline
            /> back to the server.<br />On submission we will set
            <Code
                code="showNewLoan"
                inline
            /> back to <Code
                code="false"
                inline
                lang="ts"
            />.
        </p>
        <p>
            The <Code
                code="BookSelect"
                inline
            /> and <Code
                code="UserSelect"
                inline
            /> components function the same as the author select component in the
            books page references can be found here:<br />
            <a href="#helpers-book-select">BookSelect</a><br />
            <a href="#helpers-user-select">UserSelect</a>
        </p>
        <div class="inline">
            <Modal.Content />
        </div>
    </Section>
</Section>
