---
import Section from "../../../../../../Section.astro";
import { Code } from "astro:components";

import BasicSlotParent from "./slot/BasicSlotParent.svelte";
import * as BasicSlotParentMd from "./slot/BasicSlotParent.md";
import * as BasicSlotChildMd from "./slot/BasicSlotChild.md";

import NamedSlotParent from "./slot/NamedSlotParent.svelte";
import * as NamedSlotParentMd from "./slot/NamedSlotParent.md";
import * as NamedSlotChildMd from "./slot/NamedSlotChild.md";

import KeySlotParent from "./slot/KeySlotParent.svelte";
import * as KeySlotParentMd from "./slot/KeySlotParent.md";
import * as KeySlotChildMd from "./slot/KeySlotChild.md";

import WindowEH from "./WindowEH.svelte";
import * as WindowEHMd from "./WindowEH.md";

import WindowBind from "./WindowBind.svelte";
import * as WindowBindMd from "./WindowBind.md";
---

<Section>
    <h4
        slot="title"
        id="sections-html-special-elements"
    >
        Special Elements
    </h4>
    <p>
        Svelte has a few special elements that can be used to better split your
        application into components.
    </p>
    <Section>
        <h5
            slot="title"
            id="sections-html-special-elements-slot"
        >
            Slot
        </h5>
        <p>
            The <Code
                code="slot"
                lang="svelte"
                inline
            /> element is used to create a slot in a component that can be filled
            with content from the parent component. This is useful for wrapper components
            that provide common functionality but need to be customized with different
            content. - such as popups, modals, or dropdowns. Slots can have default
            content that will be overridden by the parent component.<br /> As seen
            below, the local styling of the parent component is applied to the content
            provided by the parent to the slot.
        </p>
        <div class="inline">
            <BasicSlotParentMd.Content />
            <BasicSlotChildMd.Content />
            <div class="example">
                <BasicSlotParent />
            </div>
        </div>
        <p>
            Slots can be named to allow for the parent to choose where content
            will go. This is achieved by adding the <Code
                code="slot"
                lang="svelte"
                inline
            /> attribute to an element. If no slot is chosen, the element will be
            added to the unnamed slot - due to this there can only be one unnamed
            slot in a component.<br />
            As seen below, the parent component has two slots, one named <Code
                code="title"
                lang="svelte"
                inline
            /> and one unnamed. The child component fills the unnamed slot with the
            <Code
                code="<p>"
                lang="html"
                inline
            /> tag, and the named slot with the <Code
                code="<h1>"
                lang="html"
                inline
            /> tag. The line divider is provided by the child.
        </p>
        <div class="inline">
            <NamedSlotParentMd.Content />
            <NamedSlotChildMd.Content />
            <div class="example">
                <NamedSlotParent />
            </div>
        </div>
        <p>
            Slots can also pass variables to the parent to include in the
            provided content. This is useful when the child does any data
            manipulation that needs to be dynamically included in middle of the
            provided content.
        </p>
        <div class="inline">
            <KeySlotParentMd.Content />
            <KeySlotChildMd.Content />
            <div class="example">
                <KeySlotParent />
            </div>
        </div>
    </Section>
    <Section>
        <h5
            slot="title"
            id="sections-html-special-elements-window"
        >
            Window
        </h5>
        <p>
            <Code
                code="<svelte:window />"
                lang="svelte"
                inline
            /> can be used to access the window in a method that allows svelte functionality.<br
            />Event Handlers can be added as follows:
        </p>
        <div class="inline">
            <WindowEHMd.Content />
            <div class="example">
                <WindowEH client:load />
            </div>
        </div>
        <p>
            You can bind to some of the attributes of window, although only <Code
                code="scrollY"
                lang="svelte"
                inline
            /> and <Code
                code="scrollX"
                lang="svelte"
                inline
            /> are modifiable. The full list of bindable attributes can be found
            <a
                href="https://svelte.dev/docs/special-elements#svelte-window"
                target="_blank"
                >here</a
            >.
        </p>
        <div class="inline">
            <WindowBindMd.Content />
            <div class="example">
                <WindowBind client:load />
            </div>
        </div>
        <p>
            <Code
                code="<svelte:document />"
                lang="svelte"
                inline
            /> and <Code
                code="<svelte:body />"
                lang="svelte"
                inline
            /> work similarly to <Code
                code="<svelte:window />"
                lang="svelte"
                inline
            /> but for the document and body respectively. They all must only appear
            at the top level of the component, and must never be inside a block or
            element.
        </p>
    </Section>
    <Section>
        <h5
            id="sections-html-special-elements-head"
            slot="title"
        >
            Head
        </h5>
        <p>
            <Code
                code="<svelte:head>"
                lang="svelte"
                inline
            /> allows for you to add anything to the head section of the document
            from any component. This allows for meta tags to be added and the title
            to be modified.<br />As with the <Code
                code="<svelte:window />"
                lang="svelte"
                inline
            />, <Code
                code="<svelte:document />"
                lang="svelte"
                inline
            /> and <Code
                code="<svelte:body />"
                lang="svelte"
                inline
            />, <Code
                code="<svelte:head>"
                lang="svelte"
                inline
            /> can only appear at the top level of the component, and must never
            be inside a block or element.
        </p>
        <div class="inline">
            <Code
                code='<svelte:head>\n\t<title>My Page</title>\n\t<meta\n\t\tname="description"\n\t\tcontent="This is where the description goes for SEO"\n\t/>\n</div>'
                lang="svelte"
            />
        </div>
    </Section>
</Section>
