---
import { Code } from "astro:components";
import Setup from "./setup/Setup.astro";
import Layout from "./layout/Layout.astro";
import Routes from "./Routes.astro";
import Helpers from "./helpers/Helpers.astro";
import Authors from "./authors/Authors.astro";
import Books from "./books/Books.astro";
---

<p>
    This tutorial will give a walkthrough of creating a Library management panel
    using various features of Svelte and SvelteKit. While the tutorial will use <Code
        code="npm"
        inline
    />, a different package manager such as <Code
        code="pnpm"
        inline
    /> can be used instead, and is usually preferred. <Code
        code="pnpm"
        inline
    /> can be found <a href="https://pnpm.io/installation">here</a>. Simply
    replace any occurrence of <Code
        code="npm"
        inline
    /> with <Code
        code="pnpm"
        inline
    /> in the commands.<br /> The tutorial will use <Code
        code="scss"
        inline
    /> for styling, and <Code
        code="typescript"
        inline
    /> for scripting.
</p>
<Setup />
<Layout />
<Routes />
<Helpers />
<Authors />
<Books />
