---
import { Code } from "astro:components";
import { parentBg } from "../../../colors";
---

<h4 id="grid-subgrid">Subgrid</h4>
<div>
    <hr />
    <p>
        <Code
            code="subgrid"
            lang="css"
            inline
        /> can be used with <Code
            code="grid-template-columns"
            lang="css"
            inline
        /> and <Code
            code="grid-template-rows"
            lang="css"
            inline
        /> to create a subgrid within a grid. This subgrid will inherit the grid
        lines of the parent grid. This is useful when you want to create a grid within
        a grid and want the child grid to inherit the grid lines of the parent grid
        - such as with tables (without the hassle of actual tables). The child is
        usually set to span the entire parent grid, or at the very least part of
        it. Subgrids can be nested as well, although how many levels deep is dependent
        on browser. <Code
            code="grid-column: 1 / -1"
            lang="css"
            inline
        /> is used to span the entire parent grid. Cell 1 has some longer text to
        grow the column, and you will see that cell 3 expands to be the same size.
        You cannot get this behavior with a flexbox, as each cell would scale to
        its own content.
    </p>
    <div class="inline">
        <Code
            code={`.grid {\n\tdisplay: grid;\n\tgrid-template-columns: auto 1fr;\n\tgap: 5px;\n} .child {\n\tdisplay: grid;\n\tgrid-template-columns: subgrid;\n\tgrid-column: 1 / -1;\n\tpadding: 5px;\n\tgap: 10px;\n\tbackground-color: darkblue;\n\tborder: 2px solid purple;\n}\n.grandchild:first-child {\n\tbackground-color: maroon;\n}\n.grandchild:last-child {\n\tbackground-color: darkgreen;\n}`}
            lang="css"
        />
        <iframe
            title="Grid Template Columns"
            srcdoc=`<head><style>* {padding: 0; margin: 0; box-sizing: border-box; color: white;}body {margin: 0; width: 100vw; height: 100vh; } div { background-color: ${parentBg}; grid-template-columns: auto 1fr; gap: 5px; width: 100%; height: 100%; display: grid; padding: 5px; overflow: hidden;} div div {
                border: 2px solid purple;
						background-color: darkblue; width: 100%; height: 100%; gap: 10px; display: grid; grid-column: 1 / -1;grid-template-columns: subgrid;} div div div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                        }
                        div div div:first-child {
                            background-color: maroon;
                            grid-column: 1;
                        }
                        div div div:last-child {
                            background-color: darkgreen;
                            grid-column: 2;
                        }
                    </style></head><body> <div>
                        <div>
                            <div>1 Longer Text</div>
                            <div>2</div>
                        </div>
                        <div>
                            <div>3</div>
                            <div>4</div>
                        </div>
							</div> </body>`
        >
        </iframe>
    </div>
</div>
