---
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="A collection of information for web developers."
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>

    <style>
        html {
            font-family: system-ui, sans-serif;
            background: #13151a;
            color: #e6e6e6;
            width: 100%;
            height: 100%;
        }

        body {
            height: 100%;
            width: 100%;
        }
    </style>
    <style is:global lang="scss">
        :root {
            --accent: 136, 58, 234;
            --accent-light: 224, 204, 250;
            --accent-dark: 49, 10, 101;
            --accent-gradient: linear-gradient(
                45deg,
                rgb(var(--accent)),
                rgb(var(--accent-light)) 30%,
                white 60%
            );
        }

        h2:not(:first-child) {
            margin-top: 0.5rem;
        }
        h3:not(:first-child) {
            margin-top: 0.25rem;
        }
        h4:not(:first-child) {
            margin-top: 0.1rem;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            min-width: 0;
        }

        code {
            font-family:
                Menlo,
                Monaco,
                Lucida Console,
                Liberation Mono,
                DejaVu Sans Mono,
                Bitstream Vera Sans Mono,
                Courier New,
                monospace;
            tab-size: 4;
        }

        .example {
            background: #1e1e1e;
            padding: 1rem;
            border: 1px solid #5555;
            border-radius: 0.5rem;
            overflow: hidden;
            position: relative;
        }

        button {
            background: #0005;
            color: white;
            border: 1px solid #5555;
            border-radius: 0.25rem;
            padding: 0.5rem 1rem;
            width: fit-content;

            &:hover {
                background: #0008;
            }

            &:active {
                background: #0003;
            }
        }

        a:visited {
            color: rgb(var(--accent-light));
        }

        pre {
            font-size: 0.85em;
            width: fit-content;
            line-height: 1.5;
            max-width: 100%;
            width: 100%;
            padding-block: 0.5em;
            border-radius: 5px;

            &.has-diff {
                padding-left: 24px;

                code .line {
                    padding-left: 24px;
                    margin-left: -24px;
                    width: calc(100% + 24px);
                    position: relative;
                }
            }

            code {
                min-width: 100%;
                display: block;
                padding: 0;

                .line {
                    padding-inline: 0.5em;
                }
            }
        }
        code {
            width: fit-content;
            padding: 0.2em 0.25em;

            .line {
                display: inline-block;
                padding: 1px 0.2em;
            }

            .diff::before {
                position: absolute;
                left: 10px;
            }

            .add {
                background-color: rgba(16, 185, 129, 0.16);
                &::before {
                    content: "+";
                }
            }

            .remove {
                &::before {
                    content: "-";
                }
                background-color: rgba(244, 63, 94, 0.16);
            }
        }

        .folders {
            display: flex;
            flex-direction: column;
            padding: 0;
            padding-bottom: 0.5em;
            margin: 0;
            gap: 0 !important;

            .folderIcon {
                font-size: 0.5em;
            }

            div,
            p {
                padding-left: 0.75em;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 0 !important;
                div,
                p {
                    border-left: 1px solid #5555;
                    margin-left: 0.25em;
                }

                span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: fit-content;
                }
            }
        }

        .folderIcon {
            width: 1.5em;
            height: 1.05em;
            margin: 0 0.5em;
            margin-top: 0.5em;
            position: relative;
            background-color: #708090;
            border-radius: 0 0.06em 0.06em 0.06em;
            box-shadow: 0.04em 0.04em 0.07em rgba(0, 0, 0, 0.59);

            &:before {
                content: "";
                width: 50%;
                height: 0.12em;
                border-radius: 0 0.2em 0 0;
                background-color: #708090;
                position: absolute;
                top: -0.12em;
                left: 0px;
            }
        }

        .fileIcon {
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 464c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm56 256c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120z"/></svg>');
            mask-repeat: no-repeat;
            width: 1.25em;
            mask-position: center;
            height: 1em;
            display: inline-block;
            background-color: #708090;

            &.svelteIcon {
                mask-image: none;
                background-color: transparent;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 50%;
                    background-image: url("/WebRef/Svelte_Logo.svg");
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-size: 62%;
                    background-position: center;
                    overflow: visible;
                    width: 0.5em;
                    height: 0.5em;
                    transform: translate(-50%, -40%);
                    padding: 0.5em;
                }
            }
            &.tsIcon {
                mask-image: none;
                background-color: transparent;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 50%;
                    background-image: url("/WebRef/typescript.svg");
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-size: 75%;
                    background-position: center;
                    overflow: visible;
                    width: 0.5em;
                    height: 0.5em;
                    transform: translate(-50%, -40%);
                    padding: 0.5em;
                }
            }
            &.jsIcon {
                mask-image: none;
                background-color: transparent;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 50%;
                    background-image: url("/WebRef/javascript.svg");
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-size: 75%;
                    background-position: center;
                    overflow: visible;
                    width: 0.5em;
                    height: 0.5em;
                    transform: translate(-50%, -40%);
                    padding: 0.5em;
                }
            }
        }
    </style>
</html>
