---
interface Props {
    name: string;
}

let { name } = Astro.props;
---

<p>
    <i
        class:list={[
            "fileIcon",
            { svelteIcon: name.endsWith(".svelte") },
            { tsIcon: name.endsWith(".ts") },
            { jsIcon: name.endsWith(".js") },
        ]}></i>{name}
</p>
